/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*logo*/
#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline; /*aligne les elements en bas*/
}
#logo img {
    width: 59px;
    height: 60px;
    margin-bottom: 5px;
}
.coran{
    vertical-align: middle;
    margin-right: 8px;
    margin-top: 2px;
    margin-left:auto;
}


/* Entete de notre site*/
header {
    display: flex; /* flex: positionne les elements, aligne les elements*/
    justify-content: space-between; /*justifie les elements*/
    align-items: flex-end; /*aligne les elements en bas*/
    color:#ffffff;
    background: rgb(21, 182, 34);
    margin: 0;
    padding: 0.9em;
}

#titre_principal {
    display: flex;
    flex-direction: column;
}

header h1 { /* le h1 du header*/
    font-family: 'BallparkWeiner', serif; /*personnalisation de police du h1*/
    font-size: 2.5em; /*taille*/
    font-weight: normal;
    margin: 0 0 0 10px;
}

/*Naviation du site*/
nav{
    background-color: #25b331;  
    height: 55px;
    }
nav ul {
    list-style-type: none; /*enleve les points de liste*/
    display: flex; /*place chaque element de la liste dans une flexbox permettant ensuite de positionner les liens comme on le veut*/
}
nav li {
    margin-right: 15px; /*oriente la liste dans le sens horizontale et la dimensionne*/
     float: left;
    text-align: center;
    width: 140px;
    height: 100px;
    text-align: center;
    /*border-left: 1px solid rgb(253, 253, 253);
    border-right: 1px solid rgb(255, 255, 255);
    list-style: none;
    line-height: 30px;*/
}

nav a{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    text-decoration: none;
}
nav li a:hover{
  
    color: rgb(51, 255, 0);
}
body{
    background-color: #bcdf24;
}